:root {
  --primary-blue: #1e40af;
  --accent-blue: #0ea5e9;
  --background-blue: #eff6ff;
  --text-blue: #1e293b;
  --hover-blue: #3b82f6;
}
.nav-sm-container {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-sm-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-sm-item {
  position: relative;
}
.shopping-icons-sm {
  position: relative;
  color: #1e293b;
  font-size: 18px;
}
.shopping-counter-sm {
  height: 18px;
  width: 18px;
  background-color: #1e40af;
  color: white;
  border: 2px solid #fff;
  box-sizing: border-box; /* ✅ keeps border inside */
  position: absolute;
  font-size: 9px;
  display: flex;
  border-radius: 50%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  top: 0;
  right: -5px;
}
.logo-icon {
  color: var(--primary-blue);
  font-size: 35px;
}
.logo-sm {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  color: #4b5966;
}
.nav-bar-input-sm {
  border: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 15px;
  input {
    border: none;
    outline: none;
    height: 43px;
    width: 100%;
  }
}
.menu-search {
  margin-top: 20px;
  border: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding: 0 20px;
  input {
    padding: 0 !important;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
  }
}
.menu-location {
  margin-top: 10px;
  border: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  padding: 10px 20px;
  gap: 10px;
  color: #787878;
  font-size: 13.5px;
  font-weight: 600;
}
.nav-sm-menu-container {
  background-color: #fff;
  position: fixed;
  height: 100vh;
  z-index: 100000000000000 !important;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden !important;
  scrollbar-width: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 400ms ease;
}

.nav-sm-container .active {
  transform: translateX(0); /* slide in */
}

.menu-container-sm {
  font-size: 13px;
  background-color: #1e40af;
  color: white;
  padding: 13px 30px;
  border-radius: 7px;
  margin-top: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.department-sm {
  margin: 10px 0;

  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  transition: 400ms;
}

.department-sm.active {
  max-height: 400px;
}
.department-sm-itm {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
  font-size: 13.5px;
  font-weight: 600;
  color: #787878;
  img {
    width: 25px;
  }
}
.nav-sm-list-item-container {
  display: flex;
  flex-direction: column;
  padding: 5px !important;
  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d368;
    height: 45px;
    padding: 0 5px;
  }
  .nav-sm-list-item {
    color: var(--text-blue);
    text-decoration: none;
    font-size: 13.5px;
    font-weight: 600;
    opacity: 0.8;
  }
}
.nav-sm-list-dropdown {
  border: none;
  overflow: hidden;
  max-height: 0; /* instead of height */
  padding: 0 !important;
  transition: border 500ms, max-height 350ms ease;
  border-left: 1px solid #d3d3d368;
  border-right: 1px solid #d3d3d368;
  border-bottom: none;

  li {
    border: none !important;
    height: 35px;
  }

  .nav-sm-list-dropdown-link {
    color: #787878;
    text-decoration: none;
    font-size: 13.5px;
  }
}
.mega-menu-sm {
  max-height: 0;
  transition: 350ms;
  overflow: hidden;
  ul {
    padding: 0 !important;
    margin-bottom: 10px;
  }
  li {
    border: none !important;
    /* padding: 0 !important; */
    height: 35px;
    border-radius: 5px;
    transition: 250ms;
    padding: 0 7px !important;
  }
  li:hover {
    background-color: #f3f3f3;
  }
  .mega-sm-head {
    padding: 0 7px;
    font-weight: 600;
    margin-top: 15px;
    font-size: 15px;
    text-decoration: none;
    color: var(--primary-blue);
  }
}
.nav-search-container-sm {
  position: relative;
}
.menu-item-search-sm {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 0;
  width: 100%;
  margin-top: 5px;
  z-index: 1000000000;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #efefef;
}
.search-item-sm {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 0;
  width: 100%;
  margin-top: 5px;
  z-index: 1000000000;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #efefef;
}
::-webkit-scrollbar {
  width: 8px; /* vertical scrollbar */
  height: 8px; /* horizontal scrollbar */
}

/* scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* draggable part */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.search-item-container {
  padding: 0 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  color: #787878;
  cursor: pointer;
  transition: 100ms;
}
.search-item-container:hover {
  background-color: #eeeeee;
}
.Mega-Link {
  color: #787878;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.mega-menu-sm.active {
  max-height: 3000px;
}

.nav-sm-list-dropdown.active {
  border-bottom: 1px solid #d3d3d368;
  max-height: 500px; /* big enough to hold your content */
}

@media screen and (min-width: 1001px) {
  .nav-sm-container {
    display: none;
  }
  .nav-sm {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .nav-sm-container {
    padding: 15px;
  }
}
