:root {
  --primary-blue: #1e40af;
  --accent-blue: #0ea5e9;
  --background-blue: #eff6ff;
  --text-blue: #1e293b;
  --text-normal: #4b5966;
  --hover-blue: #3b82f6;
}

.item-body {
  position: relative;
  width: 100% !important;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;

  height: auto;
  min-height: fit-content;
}
.item-border {
  padding: 10px;
  border: 1px solid #d3d3d378;
  border-radius: 10px;
}
.button-relative-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 10px;
}
.button-1 {
  height: 35px;
  border-radius: 20%;
  background-color: white;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 35px;
  transition: opacity 400ms, transform 400ms, visibility 400ms;
  transform: translateY(-10px);
}
.item-body:hover .button-1 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.button-2 {
  height: 35px;
  border-radius: 20%;
  background-color: white;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  color: var(--primary-blue);
  width: 35px;
  transition: opacity 400ms, transform 400ms, visibility 400ms;
  transform: translateY(-10px);
}
.item-body:hover .button-2 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.button-2:hover {
  color: white;
  background-color: var(--primary-blue);
}
.item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 200px;
    height: 180px;
    object-fit: cover;
  }
}

.item-content {
  height: auto;
}
.item-category {
  color: #787878;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
}
.item-Name {
  color: var(--text-blue);
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}
.star {
  font-size: 16px;
  margin-right: 2px;
}

.star.filled {
  color: gold;
}

.star.half {
  color: gold;
}

.star.empty {
  color: #ccc;
}

.stars {
  display: flex;
}
.rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 4px;
  font-size: 14px;
}
.price {
  display: flex;
  align-items: center;
  gap: 6px;
}
.old-price {
  font-size: 12px;
  color: #787878;
  font-weight: 600;
  text-decoration: line-through;
}

.New-price {
  font-size: 12px;
  color: var(--text-blue);
  font-weight: 600;
}

.item-bottom {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.rating {
  font-weight: 600;
  font-size: 13px;
  color: #787878;
}
/* From Uiverse.io by adamgiebl */
.cart-btn {
  color: white;
  font-family: inherit;
  background: var(--primary-blue);
  color: white;
  padding: 7px 15px;
  display: flex;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.cart-btn:hover {
  background-color: #15308a;
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
@media screen and (max-width: 412px) {
  .item-image {
    img {
      width: 120px !important;
    }
  }
}
@media screen and (max-width: 1250px) {
  .item-body {
    width: 100% !important;
  }
}
