.form-container-background {
  display: flex;
  align-items: center;
}
.form-img {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  img {
    width: 350px;
  }
}

@media screen and (max-width: 950px) {
  .sing-in-container {
    height: 65vh;
  }
  .form-container-background {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 768px) {
  .form-container-background {
    flex-direction: column-reverse;
  }
  .form-img {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 470px) {
  .form-img {
    img {
      width: 300px;
    }
  }
}
